<Files .htpasswd> 
   deny from all 
</Files>

AuthType Basic   
AuthName "Private zone. Only for administrator!" 
AuthUserFile  /Applications/MAMP/htdocs/book_catalog/admin/.htpasswd   
require user admin